@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;600;700;800&family=Merriweather+Sans:wght@300;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Candara';
    src: url('../../public/fonts/Candara_Font.ttf');
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid #D1B381;
    -webkit-box-shadow: 0 0 0px 1000px #e1c28d7e inset;
    transition: background-color 5000s ease-in-out 0s;
}

.is-open{
    height: 0;
    transition: height 0.5s;
    margin-bottom:0.75rem;
}
.is-closed {
    height: 0;
    transition:height 0.5s;
}
.svg-plus-transition{
    transition: transform 2s;
    transition-timing-function : cubic-bezier(0.19, 1.01, 0, 0.84);
}
.button_click {
    animation-name: button_click;
    animation-duration: 0.2s;
}
@keyframes button_click {
    0% { transform:scale(1) }
    50%{ transform:scale(0.9) }
    100%{ transform:scale(1) }
}
