@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;600;700;800&family=Merriweather+Sans:wght@300;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Candara';
    src: url('../../public/fonts/Candara_Font.ttf');
}
